:root{
	--bodycolor:lavender;
	--primarycolor:orange;
	--secondcolor:white;
	--textcolor:black;
	--secondtextcolor:white;
	--grayborder:#D2D2D2;
	/*#b70606rojo#c10303rojo#00769Aazulito#d9ca00amarillo*/
}
